* {
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
}

.main-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    flex-direction: column;
    height: 100vh;
}

.title-counter {
    font-size: 56px;
    margin: 30px;
    color: white;
}

#value {
    font-size: 40px;
    margin: 20px;
    color: white;
}

.button {
    background-color: cornflowerblue;
    border-color: purple;
    font-size: 30px;
    color: white;
}
